<h1 mat-dialog-title>Upload</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(tags, tag)">
        {{tag}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Pick tags..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add(tags, $event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected(tags, $event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>People</mat-label>
    <mat-chip-list #chipListFriend>
      <mat-chip
        *ngFor="let f of friends"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(friends, f)">
        {{f}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Pick people..."
        #friendInput
        [formControl]="friendCtrl"
        [matChipInputFor]="chipListFriend"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add(friends, $event)">
    </mat-chip-list>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <div>
    <div class="file-drop" *ngIf="!file" fxLayout="column" fxLayoutAlign="center center">
      <input type="file" #fileDropRef id="fileDropRef" (change)="onFileUpload($event.target)"/>
      <span>Drag and drop an image</span>
      <span>Or</span>
      <label for="fileDropRef">Click to browse</label>
    </div>
    <div class="file-drop" *ngIf="!!file" fxLayout="column" fxLayoutAlign="center center">
      <input type="file" #fileDropRef id="fileDropRef" (change)="onFileUpload($event.target)"/>
      <span>Uploading: {{ file.name }}</span>
      <span>Click to change</span>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Upload</button>
</div>
