<h1 mat-dialog-title>
  <div *ngIf="!!picture" fxLayout="row" fxLayoutAlign="space-between">
    <div>
      Moderation: {{ picture.metadata.title }}
      <span style="font-size:16px;">by: 
        <a class="fakeLink"
          (click)="dialogRef.close(['/user/',picture.metadata.uploader])">{{ picture.metadata.uploader }}</a>
      </span>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="approve()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="disapprove()">
        <mat-icon>block</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!picture">
    Moderation: Queue empty
  </div>
</h1>
<div mat-dialog-content>
  <div *ngIf="!!picture">
    <div>
      <img mat-card-image [src]="'data:image/png;base64,' + picture.base64Content" />
    </div>
    <div class="description">
      {{ picture.metadata.description }} 
    </div>
    <div class="tags" *ngIf="tags && tags.length != 0">
      <span class="static">Tags: </span>
      <a *ngFor="let tag of tags" class="fakeLink"
        (click)="dialogRef.close(['/tag/',tag])">#{{ tag }} </a>
    </div>
    <div class="tags" *ngIf="people && people.length != 0">
      <span class="static">Tagged People: </span>
      <a *ngFor="let p of people" class="fakeLink"
        (click)="dialogRef.close(['/profile/', p])">{{ p }} </a>
    </div>
  </div>
  <div *ngIf="!picture">
    Queue is empty, auto-refreshing every 5 seconds...
  </div>
</div>
